* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto','Times New Roman', Times, serif;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;

    display: flex;
    justify-content: space-between;
    padding:10px 135px;
    padding-left: 205px;
}
.header p {
    display: flex;
    align-items: center;
    gap:12px;
    font-weight: bold;
}
.header li {
    font-size:18px;
    color:#E5E7EB;
}

.box1 {
    background-color: #1F2937;
    padding: 100px 135px 100px 215px;
}
.start-info {
    display: flex;
    min-height: 240px;
    flex-basis: 1000px;
    flex-shrink: 0;
}
.hero-info {
    flex:1;
    display: flex;
    flex-flow: column wrap;
    padding:0 5px;
    gap: 10px;
}
.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-subtext {
    font-size:18px;
    color:#E5E7EB;
}
.hero-image {
    flex:1;
    overflow: hidden;
}
.hero-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.box2 {
    background-color: white;
    padding: 0px 215px 100px 305px;
}
.curriculum-title {
    padding: 52px 0px 40px 0px;
    padding-left: 30px;

    display: flex;
    justify-content: center;
    align-items:center;
    color:#1F2937;
    font-size: 36px;
    font-weight: 900;
}
.curriculum-title em {
    font-size: 24px;
}
.book-box {
    display: flex;
    min-height: 235px;
    flex-basis: 800px;
    flex-shrink: 0;

    justify-content: space-between;
}
.info-imagebox {
    display: flex;
    flex-flow: column nowrap;
    border: 6px solid #3882F6;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: rgb(128, 126, 126);
}

.box3 {
    background-color:#E5E7EB;
    padding: 135px 220px 175px 320px;
    margin-top: 20px;
}

.quote-text,
.quote-author {
    display: flex;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-style:italic;
}

.quote-author {
    color:#1F2937;
    font-size: 30px;
    justify-content: flex-end;
}




ul {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    gap:16px;
}
btn {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    background-color:green;
    padding:7px 35px;;
    border-radius: 10px;
    flex-shrink: 0;
    align-self: flex-start;
}